<form method="post" action="{{ path('app_piece_delete', {'id': piece.id}) }}" class="d-inline" onsubmit="return confirm('Voulez-vous vraiment supprimer cette pièce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>