<form method="post" action="{{ path('app_buy_order_line_delete', {'id': buy_order_line.id}) }}" class="d-inline" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ligne de commande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ buy_order_line.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>