<form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}" class="d-inline" onsubmit="return confirm('Voulez-vous vraiment supprimer ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
