<form method="post" action="{{ path('app_devis_line_delete', {'id': devis_line.id}) }}" class="d-inline" onsubmit="return confirm('Voulez-vous vraiment supprimer ce fournisseur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devis_line.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>