body {
    font-family: Calibri;
    background-color: rgb(255, 255, 255);
}

.login-card {
    background-color: #dbe3ea;
    color: #343a40;
}

.navbar-admin {
    background-color: rgb(100, 100, 100);
    color :white 
}

.navbar-user {
    background-color: rgb(226, 70, 70);
    color :white 
}

.white-text{
    color :white   
}

.white-text:hover {
    color :lightgray
}

.white-text::selection {
    color :white 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(225, 225, 225);
    text-align:center;
}

.btn-create {
    background-color:blueviolet;
}
.btn-create:hover {
    background-color:rgb(121, 28, 168);
}
.btn-create:active {
    background-color:rgb(121, 28, 168);
}
.btn-create:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.anim {
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.toast-pos {
    transform: translateX(350px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}