<form method="post" action="{{ path('app_machine_delete', {'id': machine.id}) }}" class="d-inline" onsubmit="return confirm('Voulez-vous vraiment supprimer cette machine?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
