{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4"><strong>Modifier l'utilisateur</strong></h1>

        <div class="card">
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': ' Enregistrer'}) }}
            </div>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
